.mainBanner {
  &:not(.tns-slider) {
    max-height: 35.4vw;
    overflow: hidden;

    .mainBanner__item {
      padding-bottom: 35.4%;

      img {
        position: absolute;
        height: 100%;
      }
    }
  }

  &__item {
    position: relative;
    // height: 0;
    a {
      display: flex;
      align-items: flex-start;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      user-select: none;
      pointer-events: none;
    }
  }
}

.contentBlock {
  display: flex;

  &__item {
    flex: 1;
    max-width: 50%;
    position: relative;

    &--label {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: #000;
      color: #fff;
      padding: 9%;
    }

    &--banner {
      display: flex;
      align-items: flex-start;

      a {
        display: flex;
        align-items: flex-start;
        overflow: hidden;

        &:hover {
          img {
            transform: scale(1.03);
          }
        }

        img {
          width: 100%;
          height: auto;
          transition: transform 0.4s ease-in-out;
          transform: scale(1);
        }
      }
    }
  }

  &__box {
    text-align: right;

    &--header {
      h4 {
        font-size: 20px;
        line-height: 60px;
        font-weight: 100;
        text-transform: uppercase;
      }
    }

    &--body {
      p {
        font-size: 11px;
        line-height: 15px;
        font-weight: 100;
      }
    }

    &--footer {
      a {
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
        transition: letter-spacing 0.2s ease-in-out;
        font-size: 10px;
        line-height: 19px;
        font-weight: 600;
        letter-spacing: 0;

        &:hover {
          letter-spacing: 0.4px;
        }
      }
    }
  }

  //.contentBlock
  &.reverse {
    flex-direction: row-reverse;
  }

  &.reverse &__item {
    &--label {
      justify-content: flex-start;
    }
  }

  &.reverse &__box {
    text-align: left;
  }
}

.fullContentBlock {
  display: flex;
  position: relative;

  &__banner {
    position: relative;
    display: flex;
    align-items: flex-start;

    a {
      display: flex;
      align-items: flex-start;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.03);
        }
      }

      img {
        width: 100%;
        height: auto;
        transition: transform 0.4s ease-in-out;
        transform: scale(1);
      }
    }
  }

  &__label {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    bottom: 16%;
    text-align: center;

    &--header {
      h4 {
        font-size: 20px;
        line-height: 60px;
        font-weight: 100;
        text-transform: uppercase;
        color: #fff;
      }
    }

    &--body {
      p {
        font-size: 11px;
        line-height: 15px;
        font-weight: 100;
        color: #fff;
      }
    }

    &--footer {
      a {
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 19px;
        font-weight: 600;
        transition: letter-spacing 0.2s ease-in-out;
        letter-spacing: 0;

        &:hover {
          letter-spacing: 0.4px;
        }
      }
    }
  }
}

.bottomBanners {
  display: flex;

  &__item {
    flex: 1;
  }

  &__banner {
    display: flex;
    align-items: flex-start;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__label {
    padding: 10%;
    text-align: center;

    &--header {
      h4 {
        font-size: 21px;
        line-height: 20px;
        margin-bottom: 20px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }

    &--body {
      margin-bottom: 26px;

      p {
        font-size: 11px;
        line-height: 15px;
        font-weight: 100;

        @media screen and (min-width: 1300px) {
          white-space: pre-line;
        }
      }
    }

    &--footer {
      a {
        color: #000;
        font-size: 10px;
        line-height: 19px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
        transition: letter-spacing 0.2s ease-in-out;
        letter-spacing: 0;

        &:hover {
          letter-spacing: 0.4px;
        }
      }
    }
  }
}
