* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.tns-outer {
  position: relative;

  .tns-controls {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;

    button {
      pointer-events: auto;
      font-size: 0;
      background: none;
      border: none;
      outline: none;
      padding: 8px 4px;

      &::before {
        content: "";
        width: 14px;
        height: 14px;
        transform: rotate(45deg);
        border: solid #eee;
        border-width: 0 0 2px 2px;
        display: block;
      }

      &:last-child {
        &::before {
          border-width: 2px 2px 0 0;
        }
      }
    }
  }

  > button {
    display: none;
  }
}

.pageMain {
  padding-top: 134px;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: calc(1800px + 12px * 2);
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}
