doctype
html(lang='en')
  head
    include ../mixins/includesHead
  body(class="home")
    include ../mixins/header

    main.pageMain 
      section.mainBanner
        include ../mixins/home/bannerItems
      section.contentBlock
        include ../mixins/home/splittedContent
        +splittedContent(
          'Go Modern',
          `Nada óbvios, os shapes são contemporâneos\ncom recortes estratégicos e estampas abstratas.`,
          '/homeBanner-1.png'
        )
      section.contentBlock.reverse
        +splittedContent(
          'Cores da cidade',
          `Lorem ipsum dolor sit amet, consectetur adipiscing\nelit, sed do eiusmod tempor incididunt ut labore et`,
          '/homeBanner-2.png'
        )
      section.fullContentBlock
        include ../mixins/home/fullContent
        +fullContent(
          'Inside Animale',
          `Fique por dentro do Universo Animale\ncom apenas um clique.`,
          '/homeBanner-3.png'
        )
      section.bottomBanners
        include ../mixins/home/bottomBanner
        - var banners = [{title:'Lunar',text:`De Sevilla, capital do flamenco, o vestuário típico da dança\nmais celebrada da Espanha inspira as novas peças da coleção.`,image:'/homeBottomBanner-1.png'},{title:'Flutua',text:`A natureza dos célebres jardins espanhóis dá vida às estampas florais`,image:'/homeBottomBanner-2.png'},{title:'Flash Lights',text:`O último editorial também se inspira em Barcelona, cidade\niluminada pelo sol. Conheça as cores que são aposta da coleção.`,image:'/homeBottomBanner-3.png'}]
        each banner in banners
          +bottomBanner(banner.title,banner.text,banner.image)

    include ../mixins/footer

    include ../mixins/includesScripts