.mainFooter {
  &__newsBox {
    background: #e5e5e5;
    padding: 32px 0;
    .container {
      max-width: 1256px;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__form {
    margin-left: 20%;
    max-width: 405px;
    width: 34%;

    &--wrapper {
      display: flex;

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }
    }

    &--input {
      background: #fff;
      border: none;
      box-shadow: none;
      text-shadow: none;
      border-radius: none;
      flex-grow: 1;
      padding: 8px 14px;

      &::placeholder {
        text-transform: uppercase;
      }
    }

    &--submit {
      font-size: 9px;
      font-weight: 600;
      text-transform: uppercase;
      min-width: 25%;
      padding: 4px 10px;
      background: #000;
      border: none;
      text-shadow: none;
      color: #fff;
      cursor: pointer;
      transition: background 0.2s ease-in-out;

      &:hover {
        background: lighten(#000, 6);
      }
    }
  }

  &__newsMessage {
    &--title {
      font-size: 23px;
      font-weight: 400;
      line-height: 23px;
      color: #000;
      margin-bottom: 9px;
      text-transform: uppercase;
    }

    &--text {
      font-size: 11px;
      line-height: 13px;
      font-weight: 100;
    }
  }

  &__infoBox {
    background: #000;
    padding: 10px 0;

    .container {
      display: flex;
    }

    ul {
      display: flex;
      list-style: none;
    }

    &--arrow,
    &--item {
      display: inline-flex;
      align-items: center;
    }

    &--item {
      margin: 0 1.6vw;
      white-space: nowrap;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      a {
        padding: 6px 5px;
        font-size: 9px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 100;
        transition: transform 0.1s ease-in-out;
        transform: scale(1);

        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }

  &__subFooter {
    padding: 8px 12px;

    &--infos {
      font-size: 7px;
      text-transform: uppercase;
      line-height: 10px;
      font-weight: 100;
      color: #7c7c7c;
      text-align: center;
    }
  }
}
