.mainHeader {
  transition: all 0.4s ease-in-out;
  padding-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;

  .container {
    position: relative;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    transition: transform 0.15s ease-in-out;
    transform: scale(1);
    &:hover {
      transform: scale(1.03);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__infos,
  &__actions {
    display: flex;
    align-items: center;
    &--icon {
      svg {
        height: 20px;
        width: auto;
        .b {
          stroke: #000;
          stroke-width: 1px;
        }
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__actions--icon {
    display: flex;
  }

  &__menu {
    display: flex;
    align-items: center;
    transition: left 0.4s ease-in-out;
    left: 0;

    &--item {
      display: inline-flex;
      align-items: center;
      padding: 0 8px;
      margin: 0 10px;

      a {
        padding: 20px 0 18px;
        position: relative;
        height: 70px;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        text-align: center;
        justify-content: center;

        span {
          font-size: 12px;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          font-weight: 400;

          &::after {
            display: block;
            content: attr(title);
            font-weight: 600;
            height: 1px;
            color: transparent;
            overflow: hidden;
            visibility: hidden;
          }
        }

        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          height: 1px;
          width: 0;
          background: #000;
          bottom: 0;
          left: 0;
          transition: width 0.2s ease-out;
        }

        &:hover {
          span {
            font-weight: 600;
          }

          &::after {
            width: 100%;
          }
        }
      }

      &.inside a:hover {
        svg > g {
          opacity: 1;
        }
      }
    }
  }

  //.mainHeader
  &.tiny {
    padding-top: 0;
    .mainHeader {
      &__logo {
        position: absolute;
        left: 90px;
        top: 24%;
        animation: opacityLogo 0.4s ease-in-out forwards;
        @keyframes opacityLogo {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }

      &__bottom {
        justify-content: flex-start;
      }

      &__actions {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translate3d(0, -50%, 0);
      }

      &__menu {
        position: relative;
        animation: marginMenu 0.4s ease-in-out forwards;
        margin-left: 160px;

        @keyframes marginMenu {
          from {
            left: 200px;
          }
          to {
            left: 0;
          }
        }
      }
    }
  }
}
