mixin bottomBanner(title, text,bannerPath)
  .bottomBanners__item
    .bottomBanners__banner
      img(src=bannerPath)

    .bottomBanners__label
      .bottomBanners__label--header
        h4= title
      .bottomBanners__label--body
        p=text
      .bottomBanners__label--footer
        a(href="/") Shop Now



