mixin fullContent(title, text,bannerPath)
  .fullContentBlock__label
    .fullContentBlock__label--header
      h4= title
    .fullContentBlock__label--body
      p(style="white-space: pre-line;")=text 
    .fullContentBlock__label--footer
      a(href="/") Shop Now

  .fullContentBlock__banner
    a(href="/")
      img(src=bannerPath)



