mixin splittedContent(title, text,bannerPath)
  .contentBlock__item.contentBlock__item--label
    .contentBlock__box
      .contentBlock__box--header
        h4= title
      .contentBlock__box--body
        p(style="white-space: pre-line;")=text 
      .contentBlock__box--footer
        a(href="/") Shop Now

  .contentBlock__item.contentBlock__item--banner
    a(href="/")
      img(src=bannerPath)



