footer.mainFooter
  .mainFooter__newsBox
    .container
      .mainFooter__newsMessage
        .mainFooter__newsMessage--title NEWSLETTER
        .mainFooter__newsMessage--text 
          | Cadastre-se para receber nossas
          br
          | novidades e promoções:
      form.mainFooter__form
        .mainFooter__form--wrapper
          input(type="text" required="true" placeholder="Nome" name="name").mainFooter__form--input
        .mainFooter__form--wrapper
          input(type="email" required="true" placeholder="E-mail" name="email").mainFooter__form--input
          button(type="submit").mainFooter__form--submit Ok
  .mainFooter__infoBox
    .container
      ul
        li.mainFooter__infoBox--arrow
          include ../src/svg/arrowDown.svg
        - var links = [{text:"A Marca",url:'/'},{text:"Minha Conta",url:'/'},{text:"Políticas",url:'/'},{text:"Formas de pagamento",url:'/'},{text:"Newsletter",url:'/'}]
        each link , index in links
          li.mainFooter__infoBox--item
            a(href=link.url)= link.text
  .mainFooter__subFooter
    .mainFooter__subFooter--infos
      | RBX Rio comércio de roupas LTDA. Estrada dos bandeirantes, 1.700 - galpão 03, armazém 104 - Taquara, Rio de janeiro, RJ - Cep: 22775-109. CNPJ: 10.285.590/0002-80.

