header.mainHeader
  .container
    .mainHeader__top
      a(href="/").mainHeader__logo
        include ../src/svg/logo.svg
    .mainHeader__bottom
      .mainHeader__infos
        .mainHeader__infos--icon.location
          include ../src/svg/location.svg
        .mainHeader__infos--icon.contact
          include ../src/svg/contact.svg
      ul.mainHeader__menu(role="navigation")
        include ./menu
      .mainHeader__actions
        .mainHeader__actions--icon.user
          include ../src/svg/user.svg
        .mainHeader__actions--icon.bag
          include ../src/svg/bag.svg
        .mainHeader__actions--icon.search
          include ../src/svg/search.svg

