meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title Dev Challenge
link(href="https://fonts.googleapis.com/css?family=Nunito:100,300,400,700&display=swap" rel="stylesheet")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css")
link(rel="stylesheet" href="/common.css")