li.mainHeader__menu--item
  a
    span(title="Novidades") Novidades
li.mainHeader__menu--item
  a
    span(title="Coleção") Coleção
li.mainHeader__menu--item
  a
    span(title="Joias") Joias
li.mainHeader__menu--item
  a
    span(title="Sale") Sale
li.mainHeader__menu--item.inside
  a
    include ../src/svg/signature.svg
